.card-type span {
  font-family: 'Flexo-Medium', arial, sans-serif;
  padding: 1%;
  border-radius: 3px;
  line-height: 18px;
  max-width: 110px;
  margin: 0 1.5% 0 0;
  width: 35%;
  float: left;
  text-transform: none;
  font-size: 90%;
  text-align: center;
  color: #212121;
}
.card-type span:first-letter {
  text-transform: uppercase;
}
.card-type span[data-status="Grass"]:after {
    background-color: #9bcc50;
    background: linear-gradient(180deg, #9bcc50 50%, #9bcc50 50%);
}
